//container
$container-min-width: 320px;
$container-max-width: 1440px;


//bacgrounds
$body-bg: #ff55;
$notify-bg: #ffffff;
$card-bg: #c4c4c4;
$card-bg-red: #ff2442;
$scrollbar-bg-grey:rgba(112, 112, 112, 0.6);
$scrollbar-bg-grey-dark:rgba(219, 219, 219, 0.4);
//fonts
$basic-family: "Roboto", "Arial", "Helvetica", sans-serif;
$second-family: "Nunito", "Source Sans Pro", "Inter", "IBM Plex Sans",
  "IBM Plex Mono", monospace, "Roboto", "Arial", "Helvetica", sans-serif;
//colors
$notify-color: #222222;
$notify-color-white: #ffffff;
$card-color-black: #222222;
$card-color-grey: #707070;
$card-color-blue: #51A2F2;
$button-color-grey: #707070;
//box-shadow
$notify-box-shadow: rgba(81, 81, 81, 0.15);
//border
$list-border: #eaeaea;
//media
$xs: 350px;
$sm: 590px;
$md: 768px;
$lg-s: 1000px;
$lg: 1240px;
