.box {
  display: flex;
  gap: 20px;
  max-width: 460px;
  overflow: hidden;
  background-color: #f9fbfc;
}
.box__item {
  position: relative;
  z-index: 3;
  height: 256px;
  width: 19%;
  flex-shrink: 0;
  transition: transform 0.2s ease;
  transform: translateX(calc((-100% - 20px) * var(--step)));
}
.box__item--height {
  height: 600px;
}
.box__title {
  max-width: 296px;
  margin-bottom: 20px;
}
.box__arrow {
  width: 14px;
  height: 10px;
  display: block;
}
.box__text {
  display: block;
  padding: 10px;
}
.box__title--width {
  min-width: 515px;
  margin-bottom: 0;
}
.box__subtitle {
  @include font(24px, 25px, 600, $second-family);
  color: #707070;
  margin-bottom: 35px;
}
.box__form {
  margin-bottom: 19px;
  background-color: #f9fbfc;
}
.box__link-account {
  text-align: center;
  text-decoration: none;
  @include font(18px, 20px, 600, $second-family);
  color: #707070;
}
.box__link-password {
  text-align: start;
  text-decoration: none;
  @include font(13px, 14px, 400, $second-family);
  color: #707070;
  margin-left: 13px;
  padding: 10px;
}
