.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #707070;
  @include font(19px, 26px, 800, $second-family);
  z-index: 1;
  padding: 17px 20px 21px 17px;
  background-color: #ffe55c;
  box-shadow: 0px 6px 7px rgba(255, 229, 92, 0.56);
  border-radius: 31px;
  border: none;
  transition: transform 0.9s;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(112, 112, 112, 0.05),
        rgba(112, 112, 112, 0.05)
      ),
      #ffe55c;
    box-shadow: 0px 4px 7px rgba(255, 229, 92, 0.56);
  }
  @include media($sm) {
    padding: 9px;
    @include font(16px, 22px, 700, $second-family);
  }
}
.btn--transporant {
  @include font(13px, 17px, 400, $second-family);
  box-shadow: none;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100px;
  &:hover {
    background-color: transparent;
    background: transparent;
    box-shadow: 0 0 0;
  }
}
.btn-tertiary {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-color: #f9fbfc;
  border: 2px solid #d4e8fc;
  box-shadow: none;
  padding: 58px 39px;
  @include media($sm) {
    width: 100px;
    height: 100px;
    padding: 20px 26px;
  }
}
