.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #707070;
  @include font(19px, 26px, 800, $second-family);
  transition: opacity 0.2s;
  z-index: 1;
  padding: 17px 20px 21px 17px;
  background-color: #ffe55c;
  box-shadow: 0px 6px 14px rgba(255, 229, 92, 0.56);
  border-radius: 31px;
  border: none;
  &:hover {
    background: linear-gradient(
        0deg,
        rgba(112, 112, 112, 0.05),
        rgba(112, 112, 112, 0.05)
      ),
      #ffe55c;
    box-shadow: 0px 4px 11px rgba(255, 229, 92, 0.56);
  }
}
.btn--transporant {
  @include font(13px, 17px, 400, $second-family);
  box-shadow: none;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}
.btn-tertiary {
  width: 178px;
  height: 178px;
  border-radius: 50%;
  background-color: #f9fbfc;
  border: 2px solid #d4e8fc;
  box-shadow: none;
  padding: 58px 39px;
}
