.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border: none;
  transition: ease-out 0.2s;
  color: $button-color-grey;
  background-color: transparent;
  width: 100%;
  @include font(16px, 21px, 400, $second-family);
  padding: 20px 17px 13px 13px;
}
