.card {
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid $list-border;
  padding: 9px 18px 10px 10px;
}
.card__wrap {
  min-width: 70px;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.card__online {
  width: 10px;
  height: 10px;
  background-color: $card-bg-red;
  display: inline-block;
  border-radius: 50%;
}
.card__wrap-img {
  background-color: $card-bg;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.card__img {
  display: block;
  border-radius: 50%;
}
.card__wrap-desc {
  padding-top: 18px;
}
.card__name {
  @include font(16px, 20px, 600, $second-family);
  color: $card-color-black;
}
.card__event {
  @include font(13px, 18px, 300, $second-family);
  color: $card-color-black;
}
.card__color {
  @include font(13px, 18px, 300, $second-family);
  color: $card-color-blue;
}
.card__date {
  @include font(11px, 15px, 600, $second-family);
  color: $card-color-grey;
  margin-left: auto;
  margin-top: 23px;
}
