.check {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.check-pseudo,
.check-pseudo-img {
  flex-shrink: 0;
  width: 177px;
  height: 60px;
  display: block;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 32px;
  border: 2px solid #d4e8fc;
  background-color: #f9fbfc;
}
.check:checked ~ .check-pseudo:after {
  opacity: 1;
  transform: scale(1);
}
.check:focus ~ .check-pseudo {
  background-color: #ffe55c;
}
