.circl{
  width: 140px;
  height: 140px;
  display: block;
  border-radius: 50%;
}
.circl--yellow {
  background: rgba(255, 229, 92, 0.22);
}
.circl--purpure {
  background: rgba(123, 97, 255, 0.34);
  width: 112px;
  height: 112px;
}