.dating {
  background-color: #F9FBFC;
}
.dating__container {
  padding-top: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 117px;
}
// .dating__container::after {
//   position: absolute;
//   content: " ";
//   background: url(../img/dating/arrow.svg);
//   left: 30%;
//   bottom: 100px;
//   width: 113px;
//   height: 57px;
//   z-index: 1;
// }
.dating__title {
  position: absolute;
  bottom: 50px;
  left: 0;
}
.dating__wrap {
  position: relative;
  padding-top: 5px;
}
.dating__title-circl {
  position: relative;
  z-index: 1;
  margin-bottom: 9px;
}
.dating__subtitle {
  max-width: 465px;
}
.dating__subtitle {
  margin-bottom: 13px;
}

