.dating {
  background-color: #f9fbfc;
  position: relative;
  padding-bottom: 236px;
}
.dating__container {
  padding-top: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 117px;
  min-width: $container-min-width;
  max-width: $container-max-width;
}
.dating__title {
  position: absolute;
  bottom: 50px;
  left: 0;
}
.dating__wrap {
  position: relative;
  padding-top: 5px;
  height: 256px;
}
.dating__wrap--height {
  padding-top: 48px;
  padding-bottom: 31px;
  height: 284px;
}
.dating__title-circl {
  position: relative;
  z-index: 1;
  margin-bottom: 9px;
}
.dating__subtitle {
  max-width: 465px;
}
.dating__subtitle {
  margin-bottom: 13px;
}
.dating__bottom {
  background: rgba(81, 162, 242, 0.1);
}
.dating__container-bottom {
  display: flex;
  position: relative;
}
.dating__wrap-img {
  position: absolute;
  top: -42px;
  right: 0;
  max-width: 691px;
}
.dating__img {
  position: relative;
  display: block;
  width: 100%;
  height: 365px;
  border-radius: 36px 0px 0px 36px;
  z-index: 2;
}
.dating__wrap-img::after {
  position: absolute;
  content: " ";
  top: 12px;
  right: 0px;
  left: 0;
  bottom: 0;
  width: 731px;
  height: 400px;
  background: url(../img/dating/shadow.png) bottom center/cover no-repeat;
  z-index: 1;
}
.dating__title-bottom{
  position: absolute;
  bottom: -188px;
  right: 0;
}