.form--bottom {
  margin-bottom: 0;
  @include media($sm) {
    margin-bottom: 16px;
  }
}
.form--column {
  display: flex;
  flex-direction: column;
}
.form__fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  margin-bottom: 20px;
  @include media($sm) {
    align-items: flex-start;
    flex-direction: column;
  }
}
.form__fieldset--bottom {
  @include media($sm) {
    margin-bottom: 0;
  }
}
.form__wrap-file {
  display: flex;
  @include media($sm) {
    position: relative;
    margin-bottom: 26px;
  }
}
.form__wrap-marker {
  position: relative;
  width: 100%;
}
.form__title {
  @include font(18px, 20px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input {
  padding: 15px 34px 18px 20px;
  border: 2px solid #d4e8fc;
  border-radius: 33px 0 0 33px;
  width: 303px;
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  background-color: #f9fbfc;
  @include media($sm) {
    width: 97%;
    border-radius: 33px;
    margin-bottom: 16px;
    padding: 14px;
  }
}
.form__input--width {
  width: 384px;
  border-radius: 33px;
  @include media($sm) {
    width: 100%;
  }
}
.form__input--marker {
  width: 457px;
  border-radius: 33px;
  padding: 18px 40px 18px 20px;
  margin-bottom: 25px;
  @include media($sm) {
    width: 100%;
  }
}
.form__input--password-new {
  width: 457px;
  border-radius: 33px;
  margin-bottom: 10px;
  @include media($sm) {
    width: 100%;
  }
}
.form__marker {
  position: absolute;
  top: 20px;
  right: 20px;
}
.form__btn {
  margin-left: -28px;
  width: 170px;
  @include media($sm) {
    width: 97%;
    margin-left: 0;
  }
}
.form__input::-webkit-input-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input:-moz-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::-moz-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input:-ms-input-placeholder {
  @include font(16px, 26px, 400, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::-ms-input-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::-webkit-input-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input:-moz-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::-moz-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input:-ms-input-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::-ms-input-placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__input::placeholder {
  @include font(16px, 26px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(16px, 21px, 400, $second-family);
  }
}
.form__wrap-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__label:first-child {
  margin-right: 20px;
}
.form__icon {
  margin-right: 10px;
}
.form__text {
  @include font(16px, 28px, 600, $second-family);
  color: #707070;
}
.form__wrap-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 35px;
  @include media($sm) {
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.form__select {
  padding: 20px 10px;
  border-radius: 32px;
  border: none;
  background-color: #f9fbfc;
  border: 2px solid #d4e8fc;
  @include font(16px, 28px, 600, $second-family);
  color: #707070;
  text-align: center;
  @include media($sm) {
    padding: 14px 0;
  }
}
.form__select:not(:last-child) {
  @include media($sm) {
    margin-right: 20px;
  }
}
.form__select-flex {
  margin-left: 47px;
  @include media($sm) {
    margin-left: 0;
  }
}
.form__btn-big {
  margin-bottom: 25px;
  @include media($sm) {
    margin-bottom: 11px;
  }
}
.form__group {
  margin-bottom: 25px;
  @include media($sm) {
    margin-bottom: 0;
  }
}
.form__wrap-text {
  padding-top: 20px;
  padding-left: 25px;
}
.form__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form__file-btn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 58px 39px;
  cursor: pointer;
}
.form___wrap-btn {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  @include media($sm) {
    flex-direction: column;
  }
}
.form___arrowup {
  display: block;
  margin-right: 5px;
  @include media($sm) {
    margin-right: 0;
    width: 21px;
    height: 21px;
    margin-bottom: 10px;
  }
}
.form___text-up {
  @include font(16px, 22px, 700, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(12px, 16px, 700, $second-family);
  }
}
.form__subtitle-btn {
  @include font(13px, 14px, 400, $second-family);
  color: #707070;
  max-width: 105px;
  @include media($sm) {
    position: absolute;
    top: 41px;
    right: 88px;
    width: 100%;
  }
}
.form__title-file {
  margin-bottom: 17px;
  @include font(16px, 21px, 600, $second-family);
  color: #707070;
  @include media($sm) {
    @include font(12px, 16px, 600, $second-family);
    color: #222222;
    margin-bottom: 25px;
  }
}
.form__subtitle-file {
  @include font(13px, 17px, 400, $second-family);
  color: #707070;
  padding: 2px;
}
.form__symbol {
  @include font(13px, 17px, 400, $second-family);
  color: #707070;
  padding: 2px;
  margin-left: 22px;
  margin-bottom: 35px;
  @include media($sm) {
    margin-bottom: 24px;
  }
}
.form__btn-file {
  width: 97%;
}
