.header {
  background: #F9FBFC;
}
.header__top {
  padding-top: 36px;
  padding-bottom: 36px;
  position: relative;
}
.header__top::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: url(../img/header/white-bg.svg) center center/ contain no-repeat;
  height: 150px;
  width: 1440px;
  z-index: 1;
  margin: 0 auto;
}
.header__container {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header__logo {
  margin-right: 65px;
}
.header__nav {
  margin-right: auto;
}
.header__enter {
  @include font(24px, 32px, 700, $second-family);
  color: #51a2f2;
  display: block;
  text-decoration: none;
  margin-right: 30px;
}
.header__install {
  @include font(24px, 32px, 700, $second-family);
  color: #51a2f2;
  display: block;
  text-decoration: none;
}
.header__center {
}
.header__container-center {
  padding-top: 211px;
  padding-bottom: 281px;
  position: relative;
  background: url(../img/header/bg.jpg) center center/ cover no-repeat;
  z-index: 0;
}
.header__title {
  max-width: 601px;
  margin-bottom: 32px;
}
.header__subtitle {
  @include font(36px, 33px, 400, $second-family);
  color: #ffffff;
  margin-bottom: 39px;
}
.header__circl {

}
.header__circl-purpure{
  position: absolute;
  bottom: 60px;
  right: 40px;
}
