.list {
  border-top: 1px solid $list-border;
  border-bottom: 1px solid $list-border;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  overflow-y: scroll;
  height: 285px;
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-bg-grey $scrollbar-bg-grey-dark;
}
  *::-webkit-scrollbar {
  height: 226px;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: $scrollbar-bg-grey-dark;
}
*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-bg-grey;
  border-radius: 5px;
  cursor: pointer;
  border: solid 3px transparent;
}
