.nav {
}
.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}
.nav__item {
}
.nav__link {
  text-decoration: none;
  padding: 20px 30px;
  @include font(24px, 32px, 700, $second-family);
  color: #515151;
}
